<div class="cte WdC">
	<div id="omni" class="tbl">
		<div class="cll">
			<div class="overlay">
				<div ng-bind-html="htmlVal"></div>
			</div>
			<o-input name="firstinput" ng-model="input0" placeholder="Your Pegs Here…"></o-input>
		</div>
	</div>
	<div id="newboxes" class="o-box">

		<button ng-click="savePegs()" class="btn Icn c_B" ng-disabled="!total">
			<label for="">Peg</label>
			<div class="icn">
				<i class="fa fa-chevron-down"></i>
			</div>
		</button>

		<div ng-repeat="peg in pegsNew" class="box">
			<div class="cll" ng-bind="peg.input"></div>
			<div class="cll" ng-bind="peg.value"></div>
			<span ng-show="peg.input" >:</span>
		</div>
	</div>
	<div class="tbl Center- Auto">
		<div class="cll">
			
		</div>
	</div>
	<h1 ng-bind="error"></h1>
</div>