@mixin grad_h($color){
	background:linear-gradient(to right,  rgba($color,0) 0%,rgba($color,1) 30%,rgba($color,1) 100%);
}
@mixin c_colorrules($background,$color,$icontext,$bg-hov){
	background-color: $background;
	color: $color;
	transition: background 200ms;
	&[disabled]:hover{
		background-color:$background;
	}
	&:hover{
		transition: background 0ms;
		background-color: $bg-hov;
		> .icn{
			// transition: background 0ms;
			// @include grad_h($bg-hov);
		}
	}
	> .icn{
		// transition: background 200ms;
		// @include grad_h($background);
		& > span{
		  color: $icontext;
		}
	}
}

// Animation

@-moz-keyframes blinker {  
    0% { fill: rgba(98,152,182,1); }
    50% { fill: rgba(98,152,182,0); }
    100% { fill: rgba(98,152,182,1); }
}

@-webkit-keyframes blinker {  
    0% { fill: rgba(98,152,182,1); }
    50% { fill: rgba(98,152,182,0); }
    100% { fill: rgba(98,152,182,1); }
}

@keyframes blinker {  
    0% { fill: rgba(98,152,182,1); }
    50% { fill: rgba(98,152,182,0); }
    100% { fill: rgba(98,152,182,1); }
}