.Row {
  clear: both;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  *display: block;
  *width: auto;
  zoom: 1;
}
.topL, .topR {
  position: absolute !important;
  top: 0 !important;
}
.topL {
  left: 0 !important;
}
.topR {
  right: 0 !important;
}
.pdR3r {
  padding-right: 3rem !important;
}
.mg0 {
  margin: 0 !important;
}
.mgL1r {
  margin-left: 1rem !important;
}
