@import 'stablegrid';

body{
	padding:4rem 0;
	font-family:'Anonymous Pro';
	font-weight:700;
	font-size:2rem;
}
.o-cte{
	padding:0 4rem;
	.cte{
		position: relative;
	}
}
.btn{
	font-weight:700;
	font-family:'Anonymous Pro';
	font-size: 2rem;
	width:auto;
	border-radius: 0.5rem;
	&.c_Clear{	
		label{
			padding:0 0.5rem !important;
		}
	}
}
.center{
	position: absolute;
	left: 50%;
	text-align: center;
	overflow: visible;
	width:100%;
	margin-left: -50%;
	&.Error{
		line-height:1rem;
		height:1rem;
		bottom:0;
		font-size:1.5rem;
	}
}
.o-box{
	&.Newpegs{
		&:after{
			content: "";
			display: table;
			clear: both;
		}
		margin-bottom: 6rem;
	}
	&.Saved{
		em{
			background-color: black;
		}
	}
	&.Row{
		> .box{
			width:100%;
		}
	}
}
.box{
	display: table;
	position:relative;
	line-height:6rem;
	height:6rem;
	.cll{
		&:first-child{
			text-align:right;
			margin-left:0%;
			margin-right:50%;
			span{
				float:right;
			}
		}
		margin-left:50%;
		width:50%;
		position:absolute;
		top:0;
		left:0;
		span{
			float:left;
			padding:3rem 1rem;
			line-height: 0;
			height: 0;
		}
	}
	.btn{
		height:inherit;
		line-height:inherit;
		width: 10rem;
		text-align:center;
	}
}
.tbl{
	&.Center-.Auto{
		position:relative;
		left:50%;
		.btn{
			margin-left:-50%;
		}
	}
}
#google{
	padding-left:5rem;
	background-color: #DD4B38;
}
#omni{
	margin-top: 10rem;
	input{
		background-color:transparent;
	}
	input, .overlay{
		text-align: center;
		font-family:'Anonymous Pro';
		line-height:10rem;
		height:10rem;
		font-size:6rem;
		font-weight:700;
		letter-spacing: 2px;
		overflow: hidden;
	}
	.o-input{
		margin-top:-10rem;
	}
}
.square{
	border-radius: 0.5rem;
	font-size:2rem;
	position: absolute;
	line-height: 2rem;
	height: 2rem;
	width: 2rem;
	left:50%;
	background-color:red;
	margin-left:-1rem;
	text-align:center;
	.int{
		width:1rem;
		left:50%;
		margin-left:-0.45rem;
		position:relative;
		display:block;
	}
}
.overlay{
	div{
		padding:0 1rem;
		> span{
			position: relative;
			opacity:0;
			&:after{
				color:red;
				content:'_';
				text-align:center;
			}
			&.value{
				color:white;
				opacity:1;
			}
		}

	}
}
#newboxes{
	min-height:6rem;
	position: relative;
	.btn{
		z-index: 1;
	}
}
.o-bubble{
	display: table-cell;
	// vertical-align:middle;
	em{
		background-color: red;
		padding:0.4rem;
		padding-left:0.6rem;
		border-radius: 0.5rem;
		color: white;
	}
}
#logo{
	position:absolute;
	left:50%;
	margin-left:-25px;
	top:3rem;
}

@media only screen and (max-width : $wdC) {
.o-box{
	&.Newpegs{
		padding-top: 6rem;
	}
}
}